@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

body {
  background-color: lightgray;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 375px;
  height: 48px;
  background-color: #3c3a39;
}

.logo-placeholder {
  color: #ffff;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 24px;
  text-decoration: none;
}

.menu-icon {
  background-image: url("icon-menu.svg");
  width: 24px;
  height: 24px;
  margin-right: 24px;
}

.headline {
  width: 375px;
  height: 590px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1c1a19;
  background-image: url("Illustration.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.headline h1 {
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 56px;
  margin: 0 24px;
  line-height: 64px;
}

.headline h2 {
  color: #fff5e1;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 4px 24px;
}

.headline p {
  color: #ffff;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 8px 24px;
  line-height: 24px;
}

.icons-container {
  width: 200px;
  height: 40px;
  margin: 0 0 0 24px;
  display: flex;
  list-style: none;
  padding: 0;
}

.icons-container li {
  margin: 8px;
}

.github-icon::before {
  content: url("icon-github.svg");
}

.linkedin-icon::before {
  content: url("icon-linkedin.svg");
}

.fingers-icon::before {
  content: url("icon-angelist.svg");
}

.twitter-icon::before {
  content: url("icon-twitter.svg");
}

.m-icon::before {
  content: url("icon-medium.png");
}

.works {
  width: 375px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  padding: 120px 24px 96px;
  background-color: white;
}

.works > h1 {
  color: #1c1a19;
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  border-bottom: 1px solid #212121;
  padding-bottom: 32px;
}

.featured-work {
  margin-top: 40px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.featured-work h2 {
  color: #091e42;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin: 18px 0 0 0;
}

.featured-work p {
  color: #091e42;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
}

.tags {
  display: flex;
  list-style: none;
  margin: 10px 0;
  padding: 0;
  gap: 12px;
}

.tags-elements {
  text-decoration: none;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  color: #091e42;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

/*
.tags-elements:hover {
  opacity: 0.5;
}
*/

.button {
  background-color: #ff6b00;
  padding: 12px;
  align-self: flex-start;
  margin: 12px 0 0 0;
  color: #ffff;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
}

.button:hover {
  padding: 11px;
  border: 1px solid #f55800;
  background-color: #fff5e1;
  color: #f55800;
}

.button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.card-works {
  display: flex;
  flex-direction: column;
  background-image: url("card-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 386px;
  margin-bottom: 24px;
}

.card-works h2 {
  color: #ffff;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  margin: 84px 16px 0 16px;
}

.card-works p {
  color: #ffff;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 8px 16px 4px 16px;
}

.card-works .button {
  margin-top: 0;
  margin-bottom: 24px;
  align-self: stretch;
  text-align: center;
}

.card-works .tags {
  margin: 0 0 23px 16px;
}

.card-works .tags-elements {
  background-color: rgba(255, 255, 255, 0.24);
  border: 0;
  color: #ffff;
}

.about {
  width: 375px;
  background-color: #1c1a19;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  background-image: url("ilustration-about.png");
  background-repeat: no-repeat;
  background-position: right 370px;
}

.about h1 {
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-size: 72px;
  font-weight: 400;
  margin: 110px 24px 20px;
}

.about p {
  color: #f4f5f7;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 24px 24px;
}

.about .button {
  width: fit-content;
  margin: 0 24px 200px;
}

.horizontal-line {
  border: 1px solid #ffff;
  margin: 0 24px;
}

.about-list {
  color: #ffff;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 120px 0 85px 0;
}

.about-list li ul {
  margin-top: 35px;
  margin-bottom: 35px;
  list-style: none;
  padding: 0;
}

.about-list li ul li {
  margin-bottom: 15px;
  color: #ffff;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 400;
}

/*
.about-list li ul li a {
  color: #ffff;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
}

.about-list li ul li a:hover {
  opacity: 0.5;
}
*/

#diamond {
  background-image: url("diamond.png");
  background-repeat: no-repeat;
  background-position: left 60px top 7px;
}

#square {
  background-image: url("square.png");
  background-repeat: no-repeat;
  background-position: left 55px top 10px;
}

#circle {
  background-image: url("circle.png");
  background-repeat: no-repeat;
  background-position: left 110px top 10px;
}

/* contact form section */

.contact-form-section {
  box-sizing: border-box;
  background-color: #ffff;
  padding: 120px 0 0 0;
  width: 375px;
  display: flex;
  flex-direction: column;
}

.contact-description {
  margin: 0;
  padding: 0 24px 0;
  color: #172b4d;
  font-family: Inter, sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
}

.contact-form {
  padding: 58px 24px 0 24px;
  display: flex;
  flex-direction: column;
}

.name {
  padding: 15px 16px 14px 16px;
  margin-bottom: 24px;
  background-color: #ffff;
  border: 0;
  border-bottom: 1px solid #dbd8d7;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.email {
  padding: 15px 16px 15px 16px;
  margin-bottom: 24px;
  background-color: #ffff;
  border: 0;
  border-bottom: 1px solid #dbd8d7;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.message {
  padding: 12px;
  height: 114px;
  background-color: #ffff;
  border: 0;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.form-button {
  background-color: #ff6b00;
  padding: 12px;
  align-self: center;
  margin: 24px 0 0 0;
  color: #ffff;
  border: 0;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
}

.form-button:hover {
  padding: 11px;
  border: 1px solid #f55800;
  background-color: #fff5e1;
  color: #f55800;
}

.form-button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.form-button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.contact-form-section .icons-container {
  width: auto;
  margin: 124px 0 12px;
  padding-top: 22px;
  gap: 5px;
  border-top: 1px solid #dfe1e6;
  justify-content: center;
}

.github-icon-dark::before {
  content: url("icon-github-dark.svg");
}

.linkedin-icon-dark::before {
  content: url("icon-linkedin-dark.svg");
}

.fingers-icon-dark::before {
  content: url("icon-angelist-dark.svg");
}

.twitter-icon-dark::before {
  content: url("icon-twitter-dark.svg");
}

.m-icon-dark {
  padding-top: 2px;
  content: url("icon-medium-dark.svg");
}

.footer-line {
  width: 134px;
  height: 5px;
  background-color: #0d151e;
  border-radius: 10px;
  align-self: center;
  margin-bottom: 7px;
}
